[flake8]
ignore =
    E203
    E266
    E501
    W503
    # false positive, see: https://github.com/PyCQA/flake8-bugbear/issues/74
    B902
max-line-length = 120
max-complexity = 18
select = B,C,E,F,W,T4,B9
