name: CI

on: [push]

jobs:
  generate-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
          architecture: 'x64'
    
      - name: Install direnv
        run: sudo apt-get update && sudo apt-get install -y direnv

      - name: Install environment
        run: make environment/install
      
      - name: Generate
        run: make generate

      - name: Install poetry from generated project
        working-directory: ./example_project
        run: make poetry

      - name: Install dependencies and dev dependencies from generated project
        working-directory: ./example_project
        run: make install-dev

      - name: Set environment variables
        working-directory: ./example_project
        run: direnv allow

      - name: Run tests for generated project
        working-directory: ./example_project
        run: make test
      
      - name: Run linter for generated project
        working-directory: ./example_project
        run: make lint